* {
  margin: 0;
  padding: 0;
}

.navbar-toggler {
  color: white;
}
/* ul {
    display: flex;
    list-style-type: none;
    background-color: coral;
    height: 60px;
  }
  ul li {
    margin: auto;
    text-decoration: none;
  }
  ul li :link {
    text-decoration: none;
  } */
